
<footer>
  <div class="footer-top">
    <h4>Fruitfull Jaipur</h4>
    <div class="social">
      <a href="https://www.instagram.com/fruitfulljaipur/?hl=en"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/fruitfruit.jaipur/"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.google.com/maps/place/JECRC+Foundation/@26.7819833,75.8199375,683m/data=!3m2!1e3!4b1!4m6!3m5!1s0x396dc9763e6030f1:0x4137675e5cf54360!8m2!3d26.7819785!4d75.8225124!16s%2Fg%2F1tf7w3jk?entry=ttu&g_ep=EgoyMDI2MDIxMS4wIKXMDSoASAFQAw%3D%3D"><i class="fa-solid fa-location-dot"></i></a>
    </div>
     <a href="/about">Contact us</a>
  </div>
  <div class="footer-btm">
    <p>&copy;Fruitfull Jaipur</p>
  </div>
 </footer>