<% layout('layouts/boilerplate.ejs')-%>
<body>
<div class="intro">
  <div class="intro-in">
  <div class="intro-1">
    <img src="pictures/launch.jpeg">
  </div>
  <div class="intro-2">
    <h2>Fruitfull Jaipur</h2>
    <p>Fruitfull Jaipur (FFJ) is an environmental initiative of Jaipur Engineering College & Research Centre (JECRC) established in year 2020 with a goal to transform Jaipur into a greener, more sustainable city through plant and tree plantations. With a vision to improve air quality, and create a healthier ecosystem. FFJ organizes plantation drives, educational outreach programs, and collaborative partnerships with local communities, businesses, and institutions. </p>
    <p>So far, we have planted over 1000 trees across Jaipur and introduced 60 varieties of trees and plants inside JECRC, contributing to a cleaner and healthier environment for student welfare. Our goal extends beyond Jaipur, as we aspire to expand this movement across India, inspiring people to take collective action for a greener future. By volunteering, donating, or simply spreading awareness, everyone can contribute to this mission and help make our cities more vibrant and eco-friendly.</p>
  </div>
  </div>
 </div>
 <div class="contact">
    <h4 class="mb-3" >Contact Information</h4>
    <div><i class="fa-regular fa-envelope mb-3"></i><a>ffj@jecrc.ac.in</a></div>
     <div><i class="fa-solid fa-location-dot mb-3"></i><a href="https://www.google.com/maps/place/JECRC+Foundation/@26.7819833,75.8199375,683m/data=!3m2!1e3!4b1!4m6!3m5!1s0x396dc9763e6030f1:0x4137675e5cf54360!8m2!3d26.7819785!4d75.8225124!16s%2Fg%2F1tf7w3jk?entry=ttu&g_ep=EgoyMDI2MDIxMS4wIKXMDSoASAFQAw%3D%3D">JECRC Foundation, Jaipur</a></div>
     <div class="contact_social "><a href="https://www.instagram.com/fruitfulljaipur/?hl=en"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/fruitfruit.jaipur/"><i class="fa-brands fa-square-facebook"></i></a>
    </div>
 </div>
</body>