<% layout('layouts/boilerplate.ejs')-%>
<body>
    <div class="detail">
       
        <div class="info mb-3">
        <img src="<%=plant.image.url%>">
        <h5><%=plant.name%></h5>
        <p><%= plant.desc%></p>
        
        </div>
        <a class="btn btn-primary" href="/plants" role="button">Back</a>
    </div>
</body>