<% layout('/layouts/boilerplate.ejs') -%>
<body>
<div class="main-img">
  <div class="pop"><h5>Celebrating 6 years</h5></div>
  <div class="main-img1">
  
    <h1>Fruitfull Jaipur</h1>
    <h3>Clean The Mind Green The Earth</h3>
    <h3>Join the Movement</h3>
    
  </div>
  <div class="main-img2">
    
    <img src="pictures/main-img.jpeg">
    
  </div>
</div>
 <div class="intro">
  <div class="intro-in">
  <div class="intro-1">
    <img src="pictures/Home_img1.jpeg">
  </div>
  <div class="intro-2">
    <h2>Fruitfull Jaipur</h2>
    <p>Fruitfull Jaipur (FFJ) is an environmental initiative of Jaipur Engineering College & Research Centre (JECRC) established in year 2020 with a goal to transform Jaipur into a greener, more sustainable city through plant and tree plantations. With a vision to improve air quality, and create a healthier ecosystem. FFJ organizes plantation drives, educational outreach programs, and collaborative partnerships with local communities, businesses, and institutions. </p>
    <p>So far, we have planted over 1000 trees across Jaipur and introduced 60 varieties of trees and plants inside JECRC, contributing to a cleaner and healthier environment for student welfare. Our goal extends beyond Jaipur, as we aspire to expand this movement across India, inspiring people to take collective action for a greener future. By volunteering, donating, or simply spreading awareness, everyone can contribute to this mission and help make our cities more vibrant and eco-friendly.</p>
  </div>
  </div>
 </div>
 <div class="work">
  <h4>Our Work</h4>
  <div class="work1">
    <img src="pictures/gallary1.jpeg">
    <img src="pictures/gallary3.jpeg">
  </div>
  <div class="work2">
    <img src="pictures/Home_img2.jpeg">
  </div>
    
 </div>
 <div class="impact">
  <div class="impact-1">
    <h4>Trees Planted</h4>
    <h3>1000+</h3>
  </div>
  <div class="impact-2">
    <h4>People Reached</h4>
    <h3>4000+</h3>
  </div>
  <div class="impact-3">
    <h4> College Forest Cover</h4>
    <h3>67%</h3>
  </div>
  
 </div>
 
</body>