<% layout("/layouts/boilerplate")-%>
<body>
 <section class="timeline-section">
   <h3 class="mb-3">Initiatives by FFJ</h3>
  <div class="timeline-wrapper">
    <div class="stem"></div>

    <div class="timeline-item left">
      <div class="card shadow-lg">
        <img src="pictures/Herbal Garden.jpeg" class="card-img-top" alt="Plantation Drive">
        <div class="card-body">
          <h4 class="card-title">Herbal Garden</h4>
          <h6 class="card-title">2024</h6>
          <p class="card-text">The Herbal Garden initiative taken by Fruit Full Jaipur on  September 27, 2024, showcased the significance of medicinal plants in promoting health and well-being. Prof. Mukesh Agarwal provided insightful knowledge about the therapeutic uses of 51 medicinal plants brought to the campus.</p>
          <p  class="card-text">Sir emphasized how beneficial medicinal plant are in our daily life and we all should have one small herbal garden in our gardens.</p>
        </div>
      </div>
    </div>

    <div class="timeline-item right">
      <div class="card shadow-lg">
        <img src="pictures/Ek ped maa ke naam.jpeg" class="card-img-top" alt="Plantation Drive">
        <div class="card-body">
          <h4 class="card-title">Ek Ped Maa ke Naam</h4>
          <h6 class="card-title">2024</h6>
          <p class="card-text">The inauguration of the "Ek Ped Maa Ke Naam" campaign was held at Jaipur Engineering College and Research Center, led by the Principal, Registrar, and Director of Training, Mr. Mukesh Agarwal. During the event, they highlighted the significance of the campaign, initiated by Prime Minister Narendra Modi, emphasizing its role in promoting environmental consciousness and honoring mothers through tree planting</p>
          <p class="card-text"> Together we planted 100 trees, including various fruit-bearing species such as mango, guava, and neem. The initiative aimed to promote environmental awareness and contribute to a greener, healthier environment.</p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>