<% layout('layouts/boilerplate.ejs')-%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
    <form method="POST", action="/newPlant" class="needs-validation" novalidate>
       
      <label for="password", class="form-label"> Enter Password</label><br>
      <input id="password", type="password", class="form-control", placeholder="Password" name="password" required>
      <div class="invalid-feedback">
       Please enter Password
      </div>
      <br>
    
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
    </div>
  </div>
</body>